%h2 Totals

%h3 Total submissions: #{@submission_no}

=link_to "Download totals", url_for(:action=>'totals', :controller=>'votes', :format=>'csv')

%table.span-8
  %tr
    %th Name
    %th Total Score
    %th Average
  - i=0
  -@faculty.each do |f|
    -i = i + 1
    -c = i.even? ? 'even' : 'odd'
    %tr(class=c)
      %td= f.name
      %td= f.total_score
      %td= f.average